#footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  word-break: break-word;
  background-color: var(--color-5);
}

#footer #current-year {
  margin: 0 6px;
}